* {
    box-sizing: border-box;
}

body {
    background-color: #B7B6C1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 75px;
    margin: 20px auto;
    padding: 10px 5px;
    background-color: #ACAD94;
    width: 550px;
    border: 2px solid #384D48;
}

h2 {
    font-size: 2.5rem;
    padding: 10px;
    background-color: #D8D4D5;
    border: 2px solid black;
    width: 400px;
    margin: 25px auto;
}

img {
    margin-top: 30px;
    width: 700px;
    height: auto;
    padding: 20px;
    background-color: #384D48;
}

li {
    padding: 20px;
    background-color: #D8D4D5;
    margin: 15px auto;
    width: 300px;
    border: 2px solid black;
    list-style-type: none;
}

a {
    font-size: 25px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}

ul,
ol {
    margin: 0 auto;
    padding: 0;
}

.list-of-recipes {
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

#gnocchi-img,
#garlic-butter-salmon-img {
    width: 400px;
    height: auto;
}